<% provide(:title, 'Contact') %>
	<h1>MySalesGame Bulk Upload</h1>
	<p>
		This is the Contact page for the
		<a href="http://www.calliduscloud.com/products/sales-gamification/">MySalesGame Bulk Upload</a>
		sample application
	</p>